.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-bg {
    background-color: rgb(58, 87, 232);
}

.content {
    padding-left: 250px;
}

.content label {
    color: white;
}

