<div class="container">

    <div class="img-content">
        <div class="">
            <img src="../../../assets/images/Bg_aulas.png" alt="">
        </div>
        <div class="box-aulas">
            <label>AULAS</label>
        </div>
    </div>
    <h5 class="login text-center">Encontre sua aula por dia:</h5>
    <div class="search-container">
        <form>
            <input type="date" placeholder="   Encontrar cliente pelo nome ..." (input)="searchDate($event)">
        </form>
    </div>
    <div class="box-container">
        <div class="card" *ngFor="let aula of aulasFilterList; let i = index" [routerLink]="['../aulas/details', aula.id]"
            routerLinkActive="router-link-active">
            <div class="card_img">
                <img src="{{aula.image}}" alt="">
            </div>
            <div class="card-description">
                <h5>{{aula.nome_aula}}</h5>
                <h6>{{aula.nivel}}</h6>
                <i class="fa-regular fa-calendar"><label>{{aula.data}}</label></i>
                <i class="fa-regular fa-clock"><label>{{aula.horario}} - {{aula.duracao}}</label></i>
            </div>
        </div>
    </div>

</div>