<div class="container">

    <div class="img-content">
        <div class="">
            <img src="../../../assets/images/Bg_treinos.png" alt="">
        </div>
        <div class="box-treinos">
            <label>Treinos</label>
        </div>

    </div>

    <div class="box-container">
        <div class="box-cards">
            <div class="card">
                <div class="card_img">
                    <img src="../../../assets/images/treino_ombros.png" alt="">
                </div>
                <div class="card-description">
                    <h5>Ombros</h5>
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="../../../assets/images/treino_peito.png" alt="">
                </div>
                <div class="card-description">
                    <h5>Peitoral</h5>
                </div>
            </div>
        </div>

        <div class="box-cards">
            <div class="card">
                <div class="card_img">
                    <img src="../../../assets/images/treino_biceps.png" alt="">
                </div>
                <div class="card-description">
                    <h5>Bíceps</h5>
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="../../../assets/images/treino_triceps.png" alt="">
                </div>
                <div class="card-description">
                    <h5>Tríceps</h5>
                </div>
            </div>
        </div>

        <div class="box-cards">
            <div class="card">
                <div class="card_img">
                    <img src="../../../assets/images/treino_costa.png" alt="">
                </div>
                <div class="card-description">
                    <h5>Costa</h5>
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="../../../assets/images/treino_pernas.png" alt="">
                </div>
                <div class="card-description">
                    <h5>Pernas</h5>
                </div>
            </div>
        </div>
    </div>
</div>