main {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    margin: auto;
    align-items: center;
}

img {
    width: 700px;
}

h2, h3{
    text-align: center;
}

button {
    margin-top: 20px;
}