<div class="container">

    <div class="img-content">
        <div class="img-content-name">
            <h5>Bem-vindo, {{clienteList.name}}</h5>
        </div>
        <div class="img-content-photo">
            <img src="../../../assets/images/user_dafault.jpg" alt="foto utilizador">
        </div>
        <img src="../../../assets/images/Bg1.png" alt="">
    </div>

    <div class="box-container">

        <div>
            <div class="box-name">
                <h5>Dashboard</h5>
            </div>

            <div class="box">
                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="description">
                        <h6>No momento, você possui {{reservasList.length}} reservas</h6>
                        <a routerLink="/reservas">Click aqui para visualizar suas reservas</a>
                    </div>
                </div>

                <hr>

                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="description">
                        <h6>Esse mês você participou de 10 aulas</h6>
                        <p>Sua meta é: 12 aulas</p>
                    </div>
                </div>

                <hr>

                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-clipboard-list"></i>
                    </div>
                    <div class="description">
                        <h6>Esse mês você participou de 10 aulas</h6>
                        <p>Sua meta é: 12 aulas</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div>
            <div class="box-name">
                <h5>Aulas Recomendadas</h5>
            </div>

            <div class="box">
                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="description">
                        <h6>Esse mês você participou de 10 aulas</h6>
                        <p>Sua meta é: 12 aulas</p>
                    </div>
                </div>

                <hr>

                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="description">
                        <h6>Esse mês você participou de 10 aulas</h6>
                        <p>Sua meta é: 12 aulas</p>
                    </div>
                </div>

                <hr>

                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="description">
                        <h6>Esse mês você participou de 10 aulas</h6>
                        <p>Sua meta é: 12 aulas</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>