<div class="container">

    <div class="img-content">
        <div class="img-content-name">
            <h5>Bem-vindo, {{currentCliente.name}}</h5>
        </div>
        <div class="img-content-photo">
            <img src="../../../assets/images/user_dafault.jpg" alt="foto utilizador">
        </div>
        <img src="../../../assets/images/Bg1.png" alt="">
    </div>

    <div class="box-container" *ngIf="currentCliente.nif !== '999999999' ; else resultSearch">

        <div>
            <div class="box-name">
                <h5>Dashboard</h5>
            </div>

            <div class="box">
                <div class="box-content" routerLink="/reservas">
                    <div class="box-icon">
                        <i class="fa-solid fa-calendar-week"></i>
                    </div>
                    <div class="description">
                        <h6>Reservas realizadas no momento: {{reservasList.length}}</h6>
                    </div>
                </div>

                <hr>

                <div class="box-content" routerLink="/treinos">
                    <div class="box-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="description">
                        <h6>Veja suas fichas de treino</h6>
                        <p>Treino do dia: {{days[dayOfWeek]}}</p>
                    </div>
                </div>

                <hr>

                <div class="box-content">
                    <div class="box-icon">
                        <i class="fa-solid fa-clipboard-list"></i>
                    </div>
                    <div class="description">
                        <h6>Solicitar Avaliação Física</h6>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <div class="box-name">
                <h5>Aulas Recomendadas</h5>
            </div>

            <div class="box">
                <div class="box-content" [routerLink]="['/aulas/details', aulasList[numbers[0]].id]">
                    <div class="box-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="description">
                        <h6>{{aulasList[numbers[0]].nome_aula}}</h6>
                        <p>{{aulasList[numbers[0]].nivel}}</p>
                        <div class="description_row">
                            <p>{{aulasList[numbers[0]].data}}</p>
                            <p>{{aulasList[numbers[0]].horario}} H</p>
                        </div>
                    </div>
                    <div class="description_img">
                        <img src="{{aulasList[numbers[0]].image}}" alt="foto aula">
                    </div>
                </div>

                <hr>

                <div class="box-content" [routerLink]="['/aulas/details', aulasList[numbers[1]].id]">
                    <div class="box-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="description">
                        <h6>{{aulasList[numbers[1]].nome_aula}}</h6>
                        <p>{{aulasList[numbers[1]].nivel}}</p>
                        <div class="description_row">
                            <p>{{aulasList[numbers[1]].data}}</p>
                            <p>{{aulasList[numbers[1]].horario}} H</p>
                        </div>
                    </div>
                    <div class="description_img">
                        <img src="{{aulasList[numbers[1]].image}}" alt="foto aula">
                    </div>
                </div>

                <hr>

                <div class="box-content" [routerLink]="['/aulas/details', aulasList[numbers[2]].id]">
                    <div class="box-icon">
                        <i class="fa-solid fa-dumbbell"></i>
                    </div>
                    <div class="description">
                        <h6>{{aulasList[numbers[2]].nome_aula}}</h6>
                        <p>{{aulasList[numbers[2]].nivel}}</p>
                        <div class="description_row">
                            <p>{{aulasList[numbers[2]].data}}</p>
                            <p>{{aulasList[numbers[2]].horario}} H</p>
                        </div>
                    </div>
                    <div class="description_img">
                        <img src="{{aulasList[numbers[2]].image}}" alt="foto aula">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ng-template ADMIN -->
<ng-template  #resultSearch>
<div class="box-container-admin">
    <div>
        <div class="box-name">
            <h5>Dashboard</h5>
        </div>
        <div class="box-admin">
            <div class="box-content-admin" routerLink="/backoffice/aulas">
                <div class="box-icon">
                    <i class="fa-solid fa-table-list"></i>
                </div>
                <div class="description">
                    <h6>Consultar lista de aulas</h6>
                    <p>Aulas disponíveis para reservar no momento: {{aulasList.length}}</p>
                </div>
            </div>

            <div class="box-content-admin" routerLink="/backoffice/treinos">
                <div class="box-icon">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="description">
                    <h6>Consultar lista de treinos</h6>
                </div>
            </div>

            <div class="box-content-admin" routerLink="/backoffice/clientes">
                <div class="box-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="description">
                    <h6>Consultar lista de clientes</h6>
                    <p>Total de clientes cadastrados: {{nClientesList}}</p>
                </div>
            </div>

            <div class="box-content-admin"  routerLink="/backoffice/adicionar/aulas">
                <div class="box-icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="description">
                    <h6>Adicionar nova aula</h6>
                </div>
            </div>

        </div>
    </div>
</div>
</ng-template>