<main>
    <div class="container">
        <h2 class="login text-center">Consultar Cliente</h2>
        <div class="search-container">
            <form>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="   Encontrar cliente pelo nome ..." (input)="searchName($event)">
            </form>
            <form>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Encontrar cliente pelo NIF ..." (input)="searchNif($event)">
            </form>
        </div>
        <tr>
            <td class="td_id bold">ID</td>
            <td class="td_nome bold">NOME</td>
            <td class="td_email bold">EMAIL</td>
            <td class="td_nif bold">NIF</td>
            <td class="td_edit bold">EDIT</td>
        </tr>
        <tr *ngFor="let cliente of clientesFilterList">
            <td class="td_id">{{cliente.id}}</td>
            <td class="td_nome">{{cliente.name}}</td>
            <td class="td_email">{{cliente.email}}</td>
            <td class="td_nif">{{cliente.nif}}</td>
            <td class="td_edit"><button type="button" class="btn btn-primary btn-block" [routerLink]="['/backoffice/clientes', cliente.id]"><i class="fa-solid fa-file-pen"></i></button></td>
        </tr>
    </div>
</main>