.container {
    width: 500px;
}

.container h2{
    margin-bottom: 35px;
}

.form-group {
    margin: 15px 0px;
}

a {
    margin-bottom: 30px;
}



.btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fa-arrow-left {
    margin-right: 15px;
}
