main {
    padding: 30px;
}

.container {
    width: 500px;
}

.container h2{
    margin-bottom: 35px;
}

.form-group {
    margin: 15px 0px;
}

a {
    margin-bottom: 30px;
}

.box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

