<div class="container">
    <div class="card">
        <div class="card_img">
            <img src="{{reserva.aula_image}}" alt="">
        </div>
        <div class="card-nome-aula">
            <h3>{{reserva.aula_nome}}</h3>
        </div>
    </div>
    <div class="box-content-description">
        <div class="card-box-description">
            <div>
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="card-content-description">
                <label>Instrutor:</label>
                <p>{{ reserva.aula_instrutor }}</p>

            </div>
        </div>
        <div class="card-box-description">
            <div>
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="card-content-description">
                <label>Local ou Sala:</label>
                <p>{{ reserva.aula_local }}</p>

            </div>
        </div>
        <div class="card-box-description">
            <div>
                <i class="fa-regular fa-calendar-days"></i>
            </div>
            <div class="card-content-description">
                <label>Data:</label>
                <p>{{ reserva.aula_data }}</p>

            </div>
        </div>
        <div class="card-box-description">
            <div>
                <i class="fa-regular fa-clock"></i>
            </div>
            <div class="card-content-description">
                <label>Horário:</label>
                <p>{{ reserva.aula_horario }} H</p>

            </div>
        </div>
        <div class="card-box-description">
            <div>
                <i class="fa-solid fa-hourglass-start"></i>
            </div>
            <div class="card-content-description">
                <label>Duração:</label>
                <p>{{ reserva.aula_duracao }}</p>

            </div>
        </div>
        <div class="card-box-description">
            <div>
                <i class="fa-solid fa-bolt"></i>
            </div>
            <div class="card-content-description">
                <label>Nível:</label>
                <p>{{ reserva.aula_nivel }}</p>

            </div>
        </div>
        <div class="card-box-description no-border">
            <div>
                <i class="fa-regular fa-message"></i>
            </div>
            <div class="card-content-description">
                <label>Descrição:</label>
                <p>{{ reserva.aula_descricao }}</p>

            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" (click)="cancelarReserva(reserva.id)" routerLink="/reservas">Cancelar Reserva</button> 
</div>