main {
    background-image: url(../../../assets/images/BG_Auth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.authentication {
    width: 500px;
    margin: auto;
    margin-top: 250px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.90);
    color: #000000;
    border-radius: 8px;
    
}

.btn {
    margin-top: 16px;
}

