<main>
    <div class="authentication">
        <img src="../../../assets/images/Logo_texto_azul.png" alt="logo smart gym">
        <h2 class="login text-center">Login</h2>
        <form (ngSubmit)="onSubmit()" #form="ngForm">

            <div class="form-group">
                <label>NIF</label>
                <input class="form-control" name="nif" id="nif" [(ngModel)]="login.nif" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" id="password" [(ngModel)]="login.password"
                    required />
            </div>
            <div class="btns">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Login</button>
    
                <button type="button" class="btn btn-link btn-block" [routerLink]="['/create-account']" >Clique aqui para criar uma conta.</button>   
            </div>
        </form>
    </div>
</main>