<div class="container">
    <div class="card">
        <div class="card_img">
            <img src="{{treino.image}}" alt="foto exercicio">
        </div>
        <div class="card-description">
            <h2>{{treino.musculo}}</h2>
        </div>
    </div>
    <div class="table">
        <tr>
            <td class="tds_up">Exercício</td>
            <td class="tds_up">Séries</td>
            <td class="tds_up">Repetições</td>
            <td class="tds_up">Descanso</td>
        </tr>

        <tr>
            <td class="td_down">{{treino.exercicio}}</td>
            <td class="td_down">{{treino.series}}</td>
            <td class="td_down">{{treino.repeticoes}}</td>
            <td class="td_down">{{treino.descanso}}</td>
        </tr>
        <tr>
            <td class="td_down">{{treino.exercicio2}}</td>
            <td class="td_down">{{treino.series2}}</td>
            <td class="td_down">{{treino.repeticoes2}}</td>
            <td class="td_down">{{treino.descanso2}}</td>
        </tr>
        <tr>
            <td class="td_down">{{treino.exercicio3}}</td>
            <td class="td_down">{{treino.series3}}</td>
            <td class="td_down">{{treino.repeticoes3}}</td>
            <td class="td_down">{{treino.descanso3}}</td>
        </tr>
        <tr>
            <td class="td_down">{{treino.exercicio4}}</td>
            <td class="td_down">{{treino.series4}}</td>
            <td class="td_down">{{treino.repeticoes4}}</td>
            <td class="td_down">{{treino.descanso4}}</td>
        </tr>
        <tr>
            <td class="td_down">{{treino.exercicio5}}</td>
            <td class="td_down">{{treino.series5}}</td>
            <td class="td_down">{{treino.repeticoes5}}</td>
            <td class="td_down">{{treino.descanso5}}</td>
        </tr>
    </div>
    <a class="btn btn-primary" routerLink="/treinos">Fechar</a>
</div>