main {
    background-image: url(../../../assets/images/BG_Auth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.authentication {
    width: 500px;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.90);
    color: #000000;
    border-radius: 8px;
    
}

.login {
    margin: 16px 0;
}

.form-group{
    margin: 16px 0;
}

.btn {
    margin-top: 16px;
}

.btn-link {
    text-decoration: none;
}

.btns {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}
